<!-- <div class="container">
  
  <form>
    <div class="mb-3">
      <label for="id_venta" class="form-label">ID Venta</label>
      <input type="number" class="form-control" id="id_venta" [(ngModel)]="detalles.id_venta" name="id_venta">
    </div>
    <div class="mb-3">
      <label for="id_producto" class="form-label">ID Producto</label>
      <input type="number" class="form-control" id="id_producto" [(ngModel)]="detalles.id_producto" name="id_producto">
    </div>
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="cantidad" [(ngModel)]="detalles.cantidad" name="cantidad">
    </div>
    <button type="submit" class="btn btn-primary" (click)="agregarDetalles()">Agregar Detalle de Venta</button>
  </form>

  <h2>Detalles de Venta</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID Detalle</th>
        <th>ID Venta</th>
        <th>ID Producto</th>
        <th>Cantidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of detalle">
        <td>{{ detalle.id_detalle }}</td>
        <td>{{ detalle.id_venta }}</td>
        <td>{{ detalle.id_producto }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>
          <button class="btn btn-primary" (click)="actualizarDetalle(detalle.id_detalle)">Actualizar</button>
          <button class="btn btn-danger" (click)="eliminarDetalle(detalle.id_detalle)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<h2>Formulario de Detalle de Venta</h2>

<form #detallesForm="ngForm" (submit)="agregarDetalles(detallesForm)">
  <label for="id_venta" class="form-label">ID Venta</label>
      <input type="number" class="form-control" id="id_venta" [(ngModel)]="detalleService.detalle.id_venta" name="id_venta">

      <label for="id_producto" class="form-label">ID Producto</label>
      <select  id="id_producto" [(ngModel)]="detalleService.detalle.id_producto" name="id_producto"> 
      <option *ngFor="let item of productoService.productos" [value]="item.id_producto" >
          {{item.id_producto}}.{{item.descripcion}}.{{item.precio_unit}}
          

        </option>
      </select>

      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="cantidad" [(ngModel)]="detalleService.detalle.cantidad" name="cantidad">



  <button type="submit">Agregar Detalle de Venta</button>
</form>


<table>
  <tr>
    <th>ID Detalle</th>
        <th>ID Venta</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Total</th>
  </tr>
  <tr *ngFor="let detalle of detalleService.detalles">
    <td>{{ detalle.id_detalle }}</td>
        <td>{{ detalle.id_venta }}</td>
        <td>{{ detalle.descripcion }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>{{detalle.precio_unit}}</td>
        <td>{{ detalle.cantidad * detalle.precio_unit}}</td>
    <!-- <td>
      <button class="btn btn-primary" (click)="actualizarDetalle(detalle.id_detalle)">Actualizar</button>
      <button class="btn-btn-danger" (click)="eliminarDetalle(detalle.id_detalle)">Eliminar</button> -->

   <!--  </td> -->
  </tr>
</table>

<div *ngIf="totalVenta > 0">
  <p>Total de la venta: {{ totalVenta }}</p>
</div>



